/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*jssor slider bullet skin 132 css*/
.jssorb132 {position:absolute;}
.jssorb132 .i {position:absolute;cursor:pointer;}
.jssorb132 .i .b {fill:#fff;fill-opacity:0.8;stroke:#000;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.7;}
.jssorb132 .i:hover .b {fill:#000;fill-opacity:.7;stroke:#fff;stroke-width:2000;stroke-opacity:0.8;}
.jssorb132 .iav .b {fill:#000;stroke:#fff;stroke-width:2400;fill-opacity:0.8;stroke-opacity:1;}
.jssorb132 .i.idn {opacity:0.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}


/* carusel_main */
#jssor_pddt_img{
    position:relative;margin:0 auto;top:0px;left:0px;width:100%;height:auto;overflow:hidden;visibility:hidden;max-height: 400px;
}
.jssorl-009-spin{
    position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);
}
.slides{
    cursor:default;position:relative;top:0px;left:0px;width:100%;height: 400px;overflow:hidden;
}

.jssorb132{
    position:absolute;bottom:24px;right:16px;
}
.prototype{
    width:12px;height:12px;
}
.prototype svg{
    position:absolute;top:0;left:0;width:100%;height:100%;
}
.arrowleft{
    width:55px;height:55px;top:0px;left:25px;
}
.arrowleft svg{
    position:absolute;top:0;left:0;width:100%;height:100%;
}
.arrowright{
    width:55px;height:55px;top:0px;right:25px;
}
.arrowright svg{
    position:absolute;top:0;left:0;width:100%;height:100%;
}