/* pddt_topbar */
.pddt_topbar_list{
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
}
.pddt_topbar_link,
.pddt_topbar_icon{
    font-size: 1.4rem;
    display: block;
}
.pddt_topbar_link{
    margin: 0 12px 0 0;
    font-weight: 500;
    text-decoration: none;
}
.pddt_topbar_link:hover{
    text-decoration: none;
}
.pddt_topbar_icon{
    color: var(--text-color-second);
    font-size: 1.0rem;
}
/* product_body */
.pddt_title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 12px;
}
.pddt_title_name{
    font-size: 1.8rem;
    font-weight: 500;
}
/* .pddt_content */
.pddt_content{
    margin-top: 18px;
}
.policy{
    margin-top: 26px;
}
.policy_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.policy_item{
    display: flex;
    width: 50%;
    margin-bottom: 12px;
    padding: 12px 0;
}
.policy_item i{
    margin-right: 12px;
    font-size: 1.8rem;
    color: var(--text-color-third);
}
.policy_item_name{
    font-size: 1.4rem;
    color: var(--text-color-first);
}
.policy_item_show_detail{
    color: var(--text-color-third);
    cursor: pointer;
}
.policy_item_border{
    border-bottom: 1px solid var(--border-color);
}
.policy_screen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    opacity: 0.7;
    z-index: 10;
    display: none;
}
.cb_policy_item_show_detail:checked ~ .policy_screen_overlay{
    display: block;
}

.pddt_img-main img{
    width: 100%;
    height: auto;
}

/* .pddt_content-main */
.pddt_content-main{
    margin-top: 50px;
}
.pddt_content-title{
    color: var(--text-color-first);
    font-weight: 600;
}
.pddt_content-body{
    margin-top: 30px;
    max-height: 380px;
    position: relative;
    overflow: hidden;
}
.pddt_content-body p{
    font-size: 16px !important;
}
.bg-article{
    background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(255 255 255/62.5),rgba(255 255 255/1));
    bottom: 0px;
    height: 105px;
    left: 0;
    position: absolute;
    width: 100%;
}
.bg_show_pddt_content{
    position: absolute;
    bottom: 0;
    display: block;
    z-index: 1;
    width: 100%;
    margin: auto;
    bottom: 10px;

}
.bg_show_pddt_content span{
    color: var(--text-color-third);
    font-size: 1.4rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    padding: 8px 0;
    max-width: 340px;
    border: 1px solid var(--text-color-third);
    cursor: pointer;
}

/* pddt_reviews */
.pddt_reviews{
    margin-top: 24px;
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
}
.pddt_reviews-header{
    display: block;
    border-bottom: 1px solid var(--border-color);
}
.pddt_reviews-body{
    margin-top: 18px;
}
.pddt_reviews-list{
    padding: 0;
    list-style: none;
}
.pddt_reviews-item{
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
}
.pddt_reviews-item-name{
    display: block;
    font-weight: 700;
}
.pddt_reviews_item-review{
    margin-top: 12px;
    display: flex;
}
.pddt_reviews-review_star{
    display: flex;
    margin-right: 12px;
    padding: 0;
    list-style: none;
}
.pddt_reviews-review_star li{
    margin-right: 6px;
}
.pddt_reviews-review_star li i, .pddt_reviews_item_share i{
    font-size: 1.2rem;
    color: #fb6e2e;
}
.pddt_reviews_item_share {
    font-size: 1.2rem;
}
.pddt_reviews-item_comment{
    display: block;
    width: 100%;
    margin-top: 8px;
}
.pddt_reviews-item_comment span{
    font-size: 1.4rem;
    font-weight: 600;
}
.pddt_reviews_item_footer{
    margin-top: 12px;
    display: flex;
    align-items: center;
    padding: 0;
}
.pddt_reviews_item_footer_like, .pddt_reviews_item_footer_disscus{
    font-size: 1.2rem;
    margin-right: 12px;
    color: var(--text-color-third);
    cursor: pointer;

}
.pddt_reviews-footer{
    display: block;
}
.pddt_review_commit{
    width: 40%;
    display: block;
    margin:0 auto;
    font-size: 1.4rem;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: var(--text-color-third);
    color: var(--background-color);
}
/* related */
.related{
    margin-top: 30px;
}
.related_item_show_all a{
    text-decoration: none;
    font-size: 1.4rem;
}
.related_item_show_all a:hover{
    text-decoration: none;
}

/* orther_pddt */
.orther_pddt{
    margin-top: 30px;
}

/* pddt_properties */
.properties_rom_list,
.properties_color_list{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.properties_color_item{
    margin-top: 6px;
}
.properties_rom_item a,.properties_color_item a{
    display: block;
    text-decoration: none;
    padding:6px 12px;
    color: var(--text-color-first);
    margin-right: 6px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.properties_color_link_active a{
    color: var(--text-color-third);
    border: 1px solid var(--text-color-third);
}

/* _spot_price */
.pddt_spot_price_list{
    padding: 0;
    list-style: none;
    margin-top: 12px;
}
.pddt_spot_price_item{
    margin-bottom: 8px;
}
.pddt_spot_price_label{
    font-size: 1.4rem;
    color: var(--text-color-first);
    font-weight: 500;
}
.pddt_spot_price_label_show{
    color: var(--text-color-third);
    cursor: pointer;
}
.pddt_spot_price_installment{
    font-size: 1.0rem;
    margin-left: 4px;
    padding: 4px;
    background-color: #f1f1f1;
    border-radius: 4px;
}
.pddt_price_online{
    display: block;
    width: 100%;
}
.pddt_price_online_label{
    display: flex;
    background-color: #d25b34;
    padding-top: 6px;
    padding-bottom: 6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.pddt_price_online_label h3{
    display: block;
    margin: 0 auto;
    color: var(--background-color);
}
.pddt_price_online_label h3 span{
    color: #f4e74d;
    font-size: 1.8rem;
}
.pddt_price_online_price{
    display: block;
    background-color: #f1f1f1;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pddt_price_online_price h3{
    text-align: center;
    color: #d10420;
    font-weight: 600;
}
/* pddt_block__promo */
.pddt_block__promo{
    margin-top: 12px;
}
.pddt_promo_header{
    padding: 8px 12px;
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid var(--border-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.pddt_promo_header_label{
    font-size: 1.4rem;
    display: block;
    color: var(--text-color-first);
    font-weight: 700;
}
.pddt-promo-txt{
    font-size: 1.2rem;
}
.pddt_promo_body_list{
    padding: 12px;
    list-style: none;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    margin-bottom: 0;
}
.pddt_promo_body_item{
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}
.pddt_promo_body_item_stt{
    font-size: 1.2rem;
    height: 16px;
    padding: 0px 4px;
    border-radius: 50%;
    background-color: #4a90e2;
    color: var(--background-color);
}
.pddt_promo_body_item_name{
    font-size: 1.4rem;
    line-height: 2.2rem;
    display: block;
    width: 100%;
    margin-left: 12px;
    font-weight: 400;
}
.pddt_promo_body_item_name a:hover{
    text-decoration: none;
}
.pddt_promo_bottom{
    padding: 12px;
    border: 1px solid var(--border-color);
}
.pddt_promo_bottom_label{
    font-size: 1.4rem;
}
.pddt_promo_bottom_label a:hover{
    text-decoration: none;
}
.pddt_promo_footer{
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pddt_promo_footer span{
    font-size: 1.4rem;
}

/* status-delivery */
.status-delivery{
    margin-top: 12px;
}
.status-delivery_header span{
    font-size: 1.4rem;
    font-weight: 700;
    color: #f29b4d;
}
.status-delivery_address{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}
.status-delivery_address span, .status-delivery_address div{
    font-size: 1.4rem;
}
.status-delivery_address span{
    cursor: pointer;
}
.status-delivery_address div i, .status-delivery_address span{
    margin-right: 4px;
    color: var(--text-color-third);
}
.status-delivery_address div{
    max-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.status-delivery_status{
    margin-top: 8px;
}
.status-delivery_status span{
    font-size: 1.4rem;
}

.show_product_suppermarket{
    margin-top: 12px;
}
.show_product_suppermarket{
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--text-color-third);
}